/* ReceitasComponent's private CSS styles */

table {
  width: 50%;
}

table, th, td {
  border-collapse: collapse;
}

th, td, td {
  text-align: left;
  vertical-align: top;
  color: #607D8B;
  font-weight: bold;
}

input, textarea {
  width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  resize: none;
}

input {
  height: 1.25em;
}

.receitas {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.receitas li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.receitas li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.receitas a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.receitas a:hover {
  color:#607D8B;
}

.receitas .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input:invalid {
  border: 1px dashed red;
}

button {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
