<h2>{{receita.nome | uppercase}}</h2>

<div><span>(ID) </span>
  <div>{{receita.id}}</div>
</div>

<div><span>(NOME) </span>
  <div>{{receita.nome}}</div>
</div>

<div><span>(CALORIAS) </span>
  <div>{{receita.calorias}}</div>
</div>

<div><span>(INGREDIENTES) </span>
  <div>{{receita.ingrediente[0]}}</div>
  <div>{{receita.ingrediente[1]}}</div>
  <div>{{receita.ingrediente[2]}}</div>
  <div>{{receita.ingrediente[3]}}</div>
  <div>{{receita.ingrediente[4]}}</div>
  <div>{{receita.ingrediente[5]}}</div>
  <div>{{receita.ingrediente[6]}}</div>
</div>

<div><span>(MODO DE PREPARO) </span>
  <div>{{receita.modoPreparo}}</div>
</div>
