<div *ngIf="receita">
  <h2>{{receita.nome | uppercase}}</h2>
  <table>
    <tr>
      <td class="td1">Nome</td>
      <td><input [(ngModel)]="receita.nome" readonly></td>
    <tr>
      <td class="td1">Calorias</td>
      <td *ngIf="receita.calorias; else tdElse"><input [(ngModel)]="receita.calorias" readonly></td>
      <ng-template #tdElse><input placeholder="Não informado" readonly></ng-template>
    </tr>
    <tr>
      <td class="td1">Porções</td>
      <td><input [(ngModel)]="receita.porcoes" readonly></td>
    </tr>
    <tr>
      <td class="td1">Ingrediente(s)</td>
      <li *ngFor="let ing of receita.ingrediente"
        style="list-style-type: none">
        <td><input [(ngModel)]=ing readonly></td>
      </li>
    </tr>
    <tr>
      <td class="td1">Modo de preparo</td>
      <td><textarea rows="5" [(ngModel)]="receita.modoPreparo" readonly></textarea></td>
    </tr>
  </table>
  <button (click)="goBack()">Voltar</button>
</div>
