<div *ngIf="receita">
  <h2>{{receita.nome | uppercase}}</h2>
  <div>
    <label>Nome:
      <input [(ngModel)]="receita.nome" placeholder="nome">
    </label>
    <label>Calorias:
      <input [(ngModel)]="receita.calorias" placeholder="calorias">
    </label>
    <div>
      <label>Porções:
        <input [(ngModel)]="receita.porcoes" placeholder="porcoes">
      </label>
    </div>
    <div>
      (INGREDIENTES)
      <div>
        <li *ngFor="let ing of receita.ingrediente">
          <label>
            <input [(ngModel)]=ing placeholder="ingrediente">
          </label>
        </li>
      </div>
    </div>
    <div>
      Modo de preparo:
      <div>
        <label>
          <input [(ngModel)]="receita.modoPreparo" placeholder="modoPreparo">
        </label>
      </div>
    </div>
  </div>
</div>
